/* [project]/src/styles/components.css [app-client] (css) */
.container {
  width: 100%;
}

@media (width >= 320px) {
  .container {
    max-width: 320px;
  }
}

@media (width >= 512px) {
  .container {
    max-width: 512px;
  }
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (width >= 1680px) {
  .container {
    max-width: 1680px;
  }
}

@media (width >= 1920px) {
  .container {
    max-width: 1920px;
  }
}

.txt-compact-xlarge-plus {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-compact-xsmall {
  font-size: .75rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-compact-xsmall-plus {
  font-size: .75rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-compact-small-plus {
  font-size: .8125rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-compact-medium {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-compact-large-plus {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-compact-large {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-compact-medium-plus {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-compact-xlarge {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.\!txt-compact-small {
  font-size: .8125rem !important;
  line-height: 1.25rem !important;
  font-weight: 400 !important;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

.txt-compact-small {
  font-size: .8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.h2-core {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.h3-core {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.h1-core {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-xsmall-plus {
  font-size: .75rem;
  line-height: 1.2rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-small {
  font-size: .8125rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.\!txt-medium {
  font-size: .875rem !important;
  line-height: 1.4rem !important;
  font-weight: 400 !important;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

.txt-medium {
  font-size: .875rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-small-plus {
  font-size: .8125rem;
  line-height: 1.3rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-large {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-medium-plus {
  font-size: .875rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-xsmall {
  font-size: .75rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-xlarge-plus {
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.txt-xlarge {
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1440px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text-small-regular {
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.text-small-semi {
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.text-base-regular {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text-base-semi {
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.text-large-regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text-large-semi {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.text-xl-semi {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  line-height: 36px;
}

.text-2xl-regular {
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
}

.text-2xl-semi {
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
}

.text-3xl-regular {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}

.text-3xl-semi {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.data-\[state\=checked\]\:txt-compact-small-plus[data-state="checked"] {
  font-size: .8125rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/*# sourceMappingURL=src_styles_components_b52d8e.css.map*/